/* Body starts Here*/
* {
	margin: 0;
	padding: 0;
}
body {
	background: #f6f5f7;
	font-family: 'Montserrat', sans-serif;
}
.container {
	text-align: center;
	position: relative;
    width: 100%;
}
#itemBrand {
	margin-top: 20px;
}
.productPost {
	position: relative;
	width: 600px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	background-color: white;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-top: 60px;
}
.image-border {
	height: 350px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	img {
		height: 100%;
		width: 100%;
		border-radius: 30px;
	}
}
#desc {
	border-top: 1px solid rgb(185, 181, 181);
	background: black;
	opacity: 0.87;
	border-radius: 0 0 20px 20px;
	height: 250px;
	h1 {
		opacity: 1;
		color: whitesmoke;
	}
}
p {
	opacity: 1;
	color: whitesmoke;
}
.adminBtn {
	position: absolute;
	top: 10;
	right: 10;
	z-index: 2;
	border: none;
	outline: none;
	height: 30px;
	width: 30px;
	border-radius: 30px;
	background-color: white;
	transition: .3s ease;
	color: rgb(95, 90, 90);
	&:hover {
		background-color: lightgray;
	}
}
.adminEdit {
	height: 100px;
	width: 140px;
	background: white;
	position: absolute;
	right: 0;
	top: 40;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	display: none;
}
.admin {
	&:hover {
		.adminEdit {
			display: block;
		}
	}
}
.editBtn {
	outline: none;
	border: none;
	background: rgb(71, 70, 70);
	width: 100%;
	height: 50px;
	font-size: 15px;
	transition: .3s ease;
	color: whitesmoke;
	&:hover {
		cursor: pointer;
		color: rgb(241, 44, 44);
	}
}
.buyBtn {
	outline: none;
	border: none;
	height: 30px;
	width: 30px;
	background: rgb(74, 161, 74);
	color: whitesmoke;
	border-radius: 30px;
	font-size: 25px;
}
#checkout {
	position: relative;
	width: 40%;
	height: 90%;
	background-color: rgb(36, 32, 32);
	border-radius: 30px;
	margin-top: 20px;
	color: whitesmoke;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-left: auto;
	margin-right: auto;
}
.choice {
	position: absolute;
	bottom: 15;
	width: 100%;
	a {
		text-decoration: none;
		color: whitesmoke;
		transition: .3s linear;
		&:hover {
			color: rgb(73, 206, 73);
		}
	}
}
#item-list {
	border: 1px solid whitesmoke;
	text-align: center;
	display: flex;
	font-size: 25px;
	height: 50px;
}
#item-name {
	margin-top: auto;
	margin-bottom: auto;
	margin-right: auto;
	margin-left: 10px;
}
#quantity {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: 10px;
    display: flex;
}
.addItem
{
    border:none;
    outline:none;
    background-color: transparent;
    color: white;
    font-size: 25px;
    margin-right: 20px;
    &:hover
    {
        cursor: pointer;
    }
    &:active
    {
        font-size: 24px;
    }
}
.contact-form
{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    min-height: 80vh;
    width: 60%;
    background-color: rgb(54, 50, 50);
    border-radius: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: relative;
}
.details
{
    margin-top: 20px;
}
.details label
{
    color: white;
    font-size: large;
}
.inputDet
{
    outline: none;
    border:none;
    margin-top: 20px;
    width:300px;
    height:40px;
    border-bottom: 1px solid white;
    color: white;
    text-align: center;
    background-color: transparent;
}
.submitContact
{
    position: absolute;
    bottom:10;
    outline:none;
    border:none;
    height:50px;
    width: 100px;
    background-color: transparent;
    color: whitesmoke;
    border-radius: 20px;
    font-size: 20px;
    left:50%;
    transform: translate(-50%,-50%);
    transition: .4s ease;
}
.submitContact:hover
{
    cursor: pointer;
    color: rgb(89, 247, 57);
    background-color: rgb(43, 36, 36);
}
.detail-input
{
    margin-top: 50px;
}
.recordDiv
{
    position:relative;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: rgb(59, 55, 55);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 30px;
    height: 600px;
    color: white;
}
.recordDiv select
{
    outline:none;
    border:none;
    background-color: rgb(59, 55, 55);
    color:white;
    width: 100px;
    font-size: 15px;
}

.recordAction input
{
    margin-top:10px;
}
.recN
{
    outline:none;
    border:none;
    width: 200px;
    font-size: 20px;
    background-color: transparent;
    border-bottom: 1px solid whitesmoke;
    text-align: center;
    color:white;
}
.recDet
{
    margin-top: 20px;
}
#saveChange
{
    outline:none;
    border:none;
    color:whitesmoke;
    background-color: transparent;
    width:100px;
    height:40px;
    font-size: 15px;
    border:1px solid whitesmoke;
    border-radius: 20px;
}
#saveChange:hover
{
    cursor: pointer ;
}
#addR
{
    outline:none;
    border:none;
    height:40px;
    width: 40px;
    background:rgb(38, 146, 38);
    color: whitesmoke;
    border-radius: 40px;
    font-size: 30px;
}
.categoryTable
{
    background-color: rgb(58, 52, 52);
    width: 60%;
    height:600px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.catList
{
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    height: 200px;
    border: 1px solid whitesmoke;
    color: whitesmoke;
}
.catList td
{
    text-align: center;
}
.catList input
{
    outline:none;
    border:none;
    background-color: rgb(231, 34, 34);
    color: whitesmoke;
    width:30px;
    height:30px;
    border-radius: 30px;
    font-size: 25px;
    cursor: pointer;
}
.name_input
{
    outline:none;
    border:none;
    background-color: transparent;
    border-bottom: 1px solid whitesmoke;
    color:yellow;
    font-size: 20px;
    height:50px;
    width: 250px;
    text-align: center;
}
.addCategory
{
    border:none;
    outline: none;
    background-color: rgb(41, 136, 41);
    color:white;
    font-size: 25px;
    width: 35px;
    height: 35px;
    border-radius: 40px;
    cursor: pointer;
}
.imageUp
{
    outline: none;
    border:none;
    border:1px solid whitesmoke;    
    color: whitesmoke;
}
.orderList
{
    margin-top: 20px;
    background-color: rgb(58, 52, 52);
    color: white;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 30px;
}
.orderList td
{
    padding:30px;
    text-align: center;
}
.totalCost
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(58, 52, 52);
    border-radius: 30px;
    margin-top:5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}
#email
{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    color: #707070;
}
#emailInput
{
    text-align: center;
}
#pay
{
    width:120px;
    height:50px;
    margin-top: 10px;
    transition:.3s ease;
    border-radius: 30px;
    &:hover
    {
        background-color: gray; 
        color: whitesmoke;
        cursor: pointer;
    }
}
#errName
{
    color:rgb(223, 53, 11);
}