/* Footer starts Here*/
footer {
	position: absolute;
	bottom: -50;
	clear: both;
	width: 100%;
	border-top: 2px solid black;
	p {
		text-align: center;
		font-size: 80%;
		margin: 1em 0;
		color: black;
	}
}
