/* Header starts Here*/
.title-head
{
    width: 100%;
    display:flex;
    text-align: center;
}
.title-head h1
{
  
    margin-left: auto;
    margin-right: auto;
}
.welcome
{
    font-size: 20px;
    margin-left: 20px;
    padding: 10px;
    text-align: center;
}
#logout
{
    outline:none;
    border:none;
    border-radius: 10px;
    height:30px;
    width: 70px;
    color: whitesmoke;
    cursor: pointer;
    background-color:burlywood;
    transition:.3s ease-in-out;
}
#logout:hover
{
    width:80px;
}