/* Variables starts Here*/
/* Header starts Here*/
.nav-bar {
  width: 100%;
  height: 80px;
  background: #FF416C;
  background: -webkit-gradient(linear, left top, right top, from(#FF4B2B), to(#FF416C));
  background: linear-gradient(to right, #FF4B2B, #FF416C);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar h1 {
  margin-right: auto;
  margin-left: auto;
  color: #FFFFFF;
}

.r_header {
  margin-bottom: auto;
  margin-top: auto;
}

.r_header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 10;
}

.r_header .menu-icon .navicon {
  background: #f4f4f4;
  display: block;
  height: 4px;
  position: relative;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  width: 30px;
}

.r_header .menu-icon .navicon:before {
  background: #f4f4f4;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
  top: 9px;
}

.r_header .menu-icon .navicon:after {
  background: #f4f4f4;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
  top: -9px;
}

.r_header .menu-btn {
  display: none;
}

.r_header .menu-btn:checked ~ .dropdown-content {
  display: block;
}

.r_header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.r_header .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.r_header .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.r_header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
  top: 0;
}

.r_header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.r_header .dropdown-content {
  list-style-type: none;
  display: none;
  position: absolute;
  background-color: #4e4c4c;
  min-width: 160px;
  min-height: 100%;
  top: 0px;
  right: 0px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 4;
}

.r_header .dropdown-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  color: #222222;
  width: 256px;
}

.r_header .dropdown-content li {
  width: 300px;
}

.r_header .dropdown-content li a {
  display: block;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  color: whitesmoke;
  padding: 20px 20px;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.r_header .dropdown-content li a:hover {
  color: #f12c2c;
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 18px;
  border: none;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.dropdown {
  margin-left: 10px;
  height: 60%;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4e4c4c;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 15px;
  color: whitesmoke;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.dropdown-content button:hover {
  color: #f12c2c;
}

#cart {
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  background-color: transparent;
  color: white;
  font-size: 30px;
  border-radius: 50px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

#cart:hover {
  background-color: #dd2121;
}

.cartDiv {
  position: relative;
  height: 50px;
  width: 50px;
  margin-top: auto;
  margin-bottom: auto;
}

.numOfItems {
  position: absolute;
  top: 0;
  right: 0;
  height: 24px;
  width: 24px;
  background-color: #319c31;
  border-radius: 20px;
}

.numOfItems p {
  margin-top: 3px;
}

/* Body starts Here*/
* {
  margin: 0;
  padding: 0;
}

body {
  background: #f6f5f7;
  font-family: 'Montserrat', sans-serif;
}

.container {
  text-align: center;
  position: relative;
  width: 100%;
}

#itemBrand {
  margin-top: 20px;
}

.productPost {
  position: relative;
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-top: 60px;
}

.image-border {
  height: 350px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.image-border img {
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

#desc {
  border-top: 1px solid #b9b5b5;
  background: black;
  opacity: 0.87;
  border-radius: 0 0 20px 20px;
  height: 250px;
}

#desc h1 {
  opacity: 1;
  color: whitesmoke;
}

p {
  opacity: 1;
  color: whitesmoke;
}

.adminBtn {
  position: absolute;
  top: 10;
  right: 10;
  z-index: 2;
  border: none;
  outline: none;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background-color: white;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  color: #5f5a5a;
}

.adminBtn:hover {
  background-color: lightgray;
}

.adminEdit {
  height: 100px;
  width: 140px;
  background: white;
  position: absolute;
  right: 0;
  top: 40;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
}

.admin:hover .adminEdit {
  display: block;
}

.editBtn {
  outline: none;
  border: none;
  background: #474646;
  width: 100%;
  height: 50px;
  font-size: 15px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  color: whitesmoke;
}

.editBtn:hover {
  cursor: pointer;
  color: #f12c2c;
}

.buyBtn {
  outline: none;
  border: none;
  height: 30px;
  width: 30px;
  background: #4aa14a;
  color: whitesmoke;
  border-radius: 30px;
  font-size: 25px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.buyBtn:hover {
  cursor: pointer;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#checkout {
  position: relative;
  width: 40%;
  height: 90%;
  background-color: #242020;
  border-radius: 30px;
  margin-top: 20px;
  color: whitesmoke;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
}

.choice {
  position: absolute;
  bottom: 15;
  width: 100%;
}

.choice a {
  text-decoration: none;
  color: whitesmoke;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.choice a:hover {
  color: #49ce49;
}

#item-list {
  border: 1px solid whitesmoke;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
  height: 50px;
}

#item-name {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: 10px;
}

#quantity {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.addItem {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 25px;
  margin-right: 20px;
}

.addItem:hover {
  cursor: pointer;
}

.addItem:active {
  font-size: 24px;
}

.contact-form {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  min-height: 80vh;
  width: 60%;
  background-color: #363232;
  border-radius: 30px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}

.details {
  margin-top: 20px;
}

.details label {
  color: white;
  font-size: large;
}

.inputDet {
  outline: none;
  border: none;
  margin-top: 20px;
  width: 300px;
  height: 40px;
  border-bottom: 1px solid white;
  color: white;
  text-align: center;
  background-color: transparent;
  font-size: 20px;
}

.submitContact {
  position: absolute;
  bottom: 10;
  outline: none;
  border: none;
  height: 50px;
  width: 100px;
  background-color: transparent;
  color: whitesmoke;
  border-radius: 20px;
  font-size: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.submitContact:hover {
  cursor: pointer;
  color: #59f739;
  background-color: #2b2424;
}

.detail-input {
  margin-top: 50px;
}

.recordDiv {
  position: relative;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #3b3737;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 30px;
  height: 600px;
  color: white;
}

.recordDiv select {
  outline: none;
  border: none;
  background-color: #3b3737;
  color: white;
  width: 100px;
  font-size: 15px;
}

.recordAction input {
  margin-top: 10px;
}

.recN {
  outline: none;
  border: none;
  width: 200px;
  font-size: 20px;
  background-color: transparent;
  border-bottom: 1px solid whitesmoke;
  text-align: center;
  color: white;
}

.recDet {
  margin-top: 20px;
}

#saveChange {
  outline: none;
  border: none;
  color: whitesmoke;
  background-color: transparent;
  width: 100px;
  height: 40px;
  font-size: 15px;
  border: 1px solid whitesmoke;
  border-radius: 20px;
}

#saveChange:hover {
  cursor: pointer;
}

#addR {
  outline: none;
  border: none;
  height: 40px;
  width: 40px;
  background: #269226;
  color: whitesmoke;
  border-radius: 40px;
  font-size: 30px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

#addR:hover {
  cursor: pointer;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.categoryTable {
  background-color: #3a3434;
  width: 60%;
  height: 600px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.catList {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 500px;
  height: 200px;
  border: 1px solid whitesmoke;
  color: whitesmoke;
}

.catList td {
  text-align: center;
}

.catList input {
  outline: none;
  border: none;
  background-color: #e72222;
  color: whitesmoke;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  font-size: 25px;
  cursor: pointer;
}

.name_input {
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid whitesmoke;
  color: yellow;
  font-size: 20px;
  height: 50px;
  width: 250px;
  text-align: center;
}

.addCategory {
  border: none;
  outline: none;
  background-color: #298829;
  color: white;
  font-size: 25px;
  width: 35px;
  height: 35px;
  border-radius: 40px;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.addCategory:hover {
  cursor: pointer;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.imageUp {
  outline: none;
  border: none;
  border: 1px solid whitesmoke;
  color: whitesmoke;
}

.orderList {
  margin-top: 20px;
  background-color: #3a3434;
  color: white;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

.orderList td {
  padding: 30px;
  text-align: center;
}

.totalCost {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: #3a3434;
  border-radius: 30px;
  margin-top: 5px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#email {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
  color: #707070;
}

#emailInput {
  text-align: center;
}

#pay {
  width: 120px;
  height: 50px;
  margin-top: 10px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  border-radius: 30px;
}

#pay:hover {
  background-color: gray;
  color: whitesmoke;
  cursor: pointer;
}

#errName {
  color: #df350b;
}

/* Fonts starts Here*/
h1 {
  font-size: 150%;
  margin: 0;
  padding: .5em 0 .25em;
  color: white;
}

h2 {
  font-size: 120%;
  margin: 0;
  padding: .25em 0 .5em;
  color: white;
}

/* SideBar starts Here*/
aside {
  float: left;
  width: 150px;
}

/* Footer starts Here*/
footer {
  position: absolute;
  bottom: -50;
  clear: both;
  width: 100%;
  border-top: 2px solid black;
}

footer p {
  text-align: center;
  font-size: 80%;
  margin: 1em 0;
  color: black;
}
/*# sourceMappingURL=myStyle.css.map */